/* Removed default Vite styles */
body {
  margin: 0;
  padding: 0;
}

@media print {
  .print-hide, .print-hide * {
    display: none !important;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
}